/*
 * Horizontal and Vertical slider switch
 *
 */
.checkboxswitch-outer {
  outline: none;
  border-radius: 1.95vw;
  -webkit-box-shadow: -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  -moz-box-shadow: -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  -o-box-shadow: -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  box-shadow: -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  width: 6vw !important;
  height: 1.95vw !important;
  /*
   * Vertical slider switch
   *
   */
}
.checkboxswitch-outer > .checkboxswitch {
  width: 9vw;
  height: 1.95vw;
  background: -webkit-linear-gradient(left, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -moz-linear-gradient(left, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -o-linear-gradient(left, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -ms-linear-gradient(left, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: linear-gradient(left, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
}
.checkboxswitch-outer > .checkboxswitch:before,
.checkboxswitch-outer > .checkboxswitch:after {
  position: absolute;
  font-size: 1.125vw;
  font-weight: bold;
  line-height: 1.95vw;
}
.checkboxswitch-outer > .checkboxswitch:before {
  content: 'ON';
  color: #454545;
  left: 0.84375vw;
}
.checkboxswitch-outer > .checkboxswitch:after {
  content: 'OFF';
  color: #454545;
  right: 0.5625vw;
}
.checkboxswitch-outer > .checkboxswitch .checkboxswitch-handle {
  width: 3vw;
  height: 1.95vw;
  top: 0;
  left: 3vw;
  background-color: #454545;
  border-radius: 1.95vw;
  -webkit-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  -moz-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  -o-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #646464;
  background: -webkit-linear-gradient(left, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -webkit-linear-gradient(top, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -moz-linear-gradient(left, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -moz-linear-gradient(top, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -o-linear-gradient(left, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -o-linear-gradient(top, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -ms-linear-gradient(left, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -ms-linear-gradient(top, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: linear-gradient(left, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), linear-gradient(top, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
}
.checkboxswitch-outer > .checkboxswitch .checkboxswitch-handle.checkboxswitch-down {
  -webkit-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #5e5e5e;
  -moz-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #5e5e5e;
  -o-box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #5e5e5e;
  box-shadow: inset -0.09375vw -0.09375vw 0.09375vw 0.09375vw #262626, inset 0.09375vw 0.09375vw 0.09375vw 0.09375vw #5e5e5e;
}
.checkboxswitch-outer.vert {
  width: 1.95vw !important;
  height: 6vw !important;
}
.checkboxswitch-outer.vert > .checkboxswitch {
  width: 1.95vw;
  height: 9vw;
  background: -webkit-linear-gradient(top, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -moz-linear-gradient(top, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -o-linear-gradient(top, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: -ms-linear-gradient(top, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
  background: linear-gradient(top, #9c9420 0%, #9c9420 50%, #2b2b2b 50%, #2b2b2b 100%);
}
.checkboxswitch-outer.vert > .checkboxswitch:before,
.checkboxswitch-outer.vert > .checkboxswitch:after {
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.75vw;
}
.checkboxswitch-outer.vert > .checkboxswitch:before {
  content: 'ON';
  color: #454545;
  top: 0.84375vw;
}
.checkboxswitch-outer.vert > .checkboxswitch:after {
  content: 'OFF';
  color: #454545;
  bottom: 0.5625vw;
}
.checkboxswitch-outer.vert > .checkboxswitch .checkboxswitch-handle {
  width: 1.95vw;
  height: 3vw;
  left: 0;
  top: 3vw;
  background: -webkit-linear-gradient(top, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -webkit-linear-gradient(left, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -moz-linear-gradient(top, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -moz-linear-gradient(left, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -o-linear-gradient(top, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -o-linear-gradient(left, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: -ms-linear-gradient(top, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), -ms-linear-gradient(left, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
  background: linear-gradient(top, #454545 20%, #262626 43%, transparent 47%, transparent 53%, #262626 57%, #454545 80%), linear-gradient(left, #4f4f4f 20%, #646464 38%, #787878 50%, #646464 62%, #4f4f4f 80%);
}
.checkboxswitch-outer,
.checkboxswitch-handle {
  cursor: pointer;
}
.disabled.checkboxswitch-outer,
.disabled.checkboxswitch-outer > .checkboxswitch,
.disabled.checkboxswitch-outer .checkboxswitch-handle {
  cursor: default;
}
.switch-dragging,
.checkboxswitch-handle.checkboxswitch-down {
  cursor: ew-resize;
}
.vert.switch-dragging,
.vert .checkboxswitch-handle.checkboxswitch-down {
  cursor: ns-resize;
}
/* Toggle button */
.btntoggle {
  min-height: 2.4vw;
  color: #bab026;
  font-size: 1.5vw;
  position: relative;
  padding: 0.5625vw 1.3125vw 0.375vw;
  border: 0.1875vw solid #262626;
  border-top: 0.28125vw solid #4a4a4a;
  border-radius: 0.5625vw;
  cursor: pointer;
  background: #454545;
  -webkit-box-shadow: 0 -0.1875vw 0.09375vw #262626;
  -moz-box-shadow: 0 -0.1875vw 0.09375vw #262626;
  -o-box-shadow: 0 -0.1875vw 0.09375vw #262626;
  box-shadow: 0 -0.1875vw 0.09375vw #262626;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 0.1875vw;
  vertical-align: top;
  outline: none;
}
.btntoggle.frm2,
.btntoggle.frm3 {
  border-top-width: 0.1875vw;
  border-bottom: 0.28125vw solid #262626;
  color: rgba(191, 181, 64, 0.8);
  text-shadow: 0 -0.09375vw 0.09375vw #212121, 0 0 0.09375vw #bfb540;
}
.btntoggle.frm3,
.btntoggle.frm4 {
  padding-bottom: 0.375vw;
  margin-top: 0;
  margin-bottom: 0.1875vw;
  border: 0.1875vw solid #262626;
  border-bottom: 0.28125vw solid #333333;
  -webkit-box-shadow: 0 0.1875vw #262626;
  -moz-box-shadow: 0 0.1875vw #262626;
  -o-box-shadow: 0 0.1875vw #262626;
  box-shadow: 0 0.1875vw #262626;
}
.btntoggle.frm4 {
  text-shadow: 0 -0.09375vw 0.09375vw #212121, 0.09375vw 0.09375vw 0.5625vw rgba(191, 181, 64, 0.5), -0.09375vw -0.09375vw 0.5625vw rgba(191, 181, 64, 0.5);
  color: #bfb540;
}
.btntoggle:before,
.btntoggle:after {
  content: '';
  position: absolute;
  border-radius: 0.46875vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btntoggle:before {
  top: -0.75vw;
  right: -0.46875vw;
  bottom: -0.46875vw;
  left: -0.46875vw;
  border-radius: 0.75vw;
  background: #454545;
  background: -webkit-linear-gradient(top, #262626, #646464);
  background: -moz-linear-gradient(top, #262626, #646464);
  background: -o-linear-gradient(top, #262626, #646464);
  background: -ms-linear-gradient(top, #262626, #646464);
  background: linear-gradient(top, #262626, #646464);
  z-index: -1;
}
.btntoggle.frm2:before {
  top: -0.65625vw;
  bottom: -0.5625vw;
}
.btntoggle.frm3:before,
.btntoggle.frm4:before {
  top: -0.46875vw;
  bottom: -0.75vw;
}
.btntoggle:after {
  border: 0.1875vw solid rgba(38, 38, 38, 0.25);
  border-top: 0.09375vw solid #5e5e5e;
  border-bottom: none;
  background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 45%, rgba(100, 100, 100, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 45%, rgba(100, 100, 100, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(33, 33, 33, 0.5) 45%, rgba(100, 100, 100, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(33, 33, 33, 0.5) 45%, rgba(100, 100, 100, 0.5) 100%);
  background: linear-gradient(top, rgba(33, 33, 33, 0.5) 45%, rgba(100, 100, 100, 0.5) 100%);
}
.btntoggle.frm2:after {
  border-top-color: #575757;
  -webkit-box-shadow: 0 0.375vw 0.75vw 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.375vw 0.75vw 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0.375vw 0.75vw 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.375vw 0.75vw 0 rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.5) 43%, rgba(102, 102, 102, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(36, 36, 36, 0.5) 43%, rgba(102, 102, 102, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(36, 36, 36, 0.5) 43%, rgba(102, 102, 102, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(36, 36, 36, 0.5) 43%, rgba(102, 102, 102, 0.5) 100%);
  background: linear-gradient(top, rgba(36, 36, 36, 0.5) 43%, rgba(102, 102, 102, 0.5) 100%);
}
.btntoggle.frm3:after {
  border-top-color: #4f4f4f;
  border-top-width: 0.1875vw;
  -webkit-box-shadow: 0 0.515625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0.515625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0.515625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.515625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5) 40%, rgba(105, 105, 105, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(38, 38, 38, 0.5) 40%, rgba(105, 105, 105, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(38, 38, 38, 0.5) 40%, rgba(105, 105, 105, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(38, 38, 38, 0.5) 40%, rgba(105, 105, 105, 0.5) 100%);
  background: linear-gradient(top, rgba(38, 38, 38, 0.5) 40%, rgba(105, 105, 105, 0.5) 100%);
}
.btntoggle.frm4:after {
  border-top-color: #3d3d3d;
  -webkit-box-shadow: 0 0.65625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0.65625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0.65625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.65625vw 0.75vw 0 rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, rgba(41, 41, 41, 0.5) 38%, rgba(107, 107, 107, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(41, 41, 41, 0.5) 38%, rgba(107, 107, 107, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(41, 41, 41, 0.5) 38%, rgba(107, 107, 107, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(41, 41, 41, 0.5) 38%, rgba(107, 107, 107, 0.5) 100%);
  background: linear-gradient(top, rgba(41, 41, 41, 0.5) 38%, rgba(107, 107, 107, 0.5) 100%);
}
.btntoggle span.onoff {
  position: absolute;
  left: 10%;
  top: 10%;
  bottom: 10%;
  right: 10%;
  /* 1 */
  /* 1 selected */
  /* 0 */
  /* 0 selected */
}
.btntoggle span.onoff:before {
  content: '';
  display: block;
  margin: 10% auto 0;
  width: 0;
  height: 25%;
  border: 0 solid #757500;
  border-left-width: 0.1875vw;
}
.btntoggle span.onoff.on:before {
  border-color: #cccc00;
  -webkit-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6);
  -moz-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6);
  -o-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6);
  box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6);
}
.btntoggle span.onoff:after {
  content: '';
  display: block;
  margin: 35% auto 0;
  width: 10%;
  height: 20%;
  border-radius: 50%;
  border: 0.1875vw solid #757500;
}
.btntoggle span.onoff.off:after {
  border-color: #a3a300;
  -webkit-box-shadow: 0 0 0.28125vw 0.1875vw rgba(115, 108, 38, 0.6), inset 0 0 0.09375vw rgba(115, 108, 38, 0.6);
  -moz-box-shadow: 0 0 0.28125vw 0.1875vw rgba(115, 108, 38, 0.6), inset 0 0 0.09375vw rgba(115, 108, 38, 0.6);
  -o-box-shadow: 0 0 0.28125vw 0.1875vw rgba(115, 108, 38, 0.6), inset 0 0 0.09375vw rgba(115, 108, 38, 0.6);
  box-shadow: 0 0 0.28125vw 0.1875vw rgba(115, 108, 38, 0.6), inset 0 0 0.09375vw rgba(115, 108, 38, 0.6);
}
.btntoggle:focus span.onoff {
  /* 1 selected focused */
  /* 0 selected focused */
}
.btntoggle:focus span.onoff:before,
.btntoggle:focus span.onoff:after {
  /* 0 unselected focused */
  border-color: #858500;
}
.btntoggle:focus span.onoff.on:before {
  border-color: #ebeb00;
  -webkit-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.85);
  -moz-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.85);
  -o-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.85);
  box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.85);
}
.btntoggle:focus span.onoff.off:after {
  border-color: #b2b300;
  -webkit-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6), inset 0 0 0.09375vw rgba(153, 145, 51, 0.6);
  -moz-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6), inset 0 0 0.09375vw rgba(153, 145, 51, 0.6);
  -o-box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6), inset 0 0 0.09375vw rgba(153, 145, 51, 0.6);
  box-shadow: 0 0 0.28125vw 0.1875vw rgba(153, 145, 51, 0.6), inset 0 0 0.09375vw rgba(153, 145, 51, 0.6);
}
